* {
  font-size: 20px;
  font-family: monospace;
}

window#waybar {
  background: #292b2e;
  color: #fdf6e3;
}

#custom-right-arrow-dark,
#custom-left-arrow-dark {
  color: #1a1a1a;
}

#custom-right-arrow-light,
#custom-left-arrow-light {
  color: #292b2e;
  background: #1a1a1a;
}

#custom-exit,
#custom-steam,
#clock.1,
#clock.2,
#clock.3,
#tray {
  background: #1a1a1a;
}
